In [ ]:
import pandas as pd
import requests
import v2_html_from_snpedia as v2

## reading log file

In [21]:
lf=pd.read_csv('log.txt',header=None,names=['rsID'])

In [22]:
lf

           rsID
0        rs1234
1        rs1234
2   rs114420996
3     rs9283150
4   rs879996973
5   rs879235070
6          srsd
7          rs22
8        rsaaaa
9     rs111 333
10       rsars3
11    rs9326622
12        zzzzz
13  rs560741532
14   rs11510104
15  rs544678971
16  rs776140144
17       rs222a
18  rs567161598
19  rs116587930
20   rs12567639
21  rs114525117
22   rs12127425
23   rs79373928
24   rs72888853

## match string

In [27]:
lf[lf.rsID.str.match('rs[0-9]+$')]

           rsID
0        rs1234
1        rs1234
2   rs114420996
3     rs9283150
4   rs879996973
5   rs879235070
7          rs22
11    rs9326622
13  rs560741532
14   rs11510104
15  rs544678971
16  rs776140144
18  rs567161598
19  rs116587930
20   rs12567639
21  rs114525117
22   rs12127425
23   rs79373928
24   rs72888853

In [4]:
db = pd.read_csv('final_db.csv', sep='\t')

## lf - db (drop duplicated)

In [3]:
lf[~lf.rsID.isin(db.rsID)]

## drop duplicated values in lf

In [6]:
df = lf.drop_duplicates()

## apply functions(get data using API)

In [7]:
df['rawHTML']=df['rsID'].apply(v2.gethtml)

CHECK THE rsID : no data
CHECK THE rsID : no data
CHECK THE rsID : no data
CHECK THE rsID : no data
CHECK THE rsID : no data
CHECK THE rsID : no data
CHECK THE rsID : no data
CHECK THE rsID : no data
CHECK THE rsID : no data
CHECK THE rsID : no data
CHECK THE rsID : no data
CHECK THE rsID : no data
CHECK THE rsID : no data
CHECK THE rsID : no data
CHECK THE rsID : no data
CHECK THE rsID : no data

/home/diagnomics/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

## result

In [28]:
df

           rsID                                            rawHTML
0        rs1234  [<div class="mw-parser-output"><p><span></span...
2   rs114420996                                                 []
3     rs9283150                                                 []
4   rs879996973                                                 []
5   rs879235070                                                 []
6     rs9326622                                                 []
7   rs560741532                                                 []
8    rs11510104                                                 []
9   rs544678971                                                 []
10  rs776140144                                                 []
11  rs567161598                                                 []
12  rs116587930                                                 []
13   rs12567639                                                 []
14  rs114525117                                                 []
15   rs12127425                                                 []
16   rs79373928                                                 []
17   rs72888853                                                 []

## save database

In [83]:
dbb=dbb.append(df)

In [82]:
dbb.to_csv('final_db_sample.csv',sep='\t', index=False)

## print date

In [62]:
import time

In [63]:
localtime=time.asctime(time.localtime(time.time()))

In [64]:
localtime

'Tue Jan 22 16:45:18 2019'